<template>
	<form>
	    <v-text-field
	      v-model="name"
	      :error-messages="nameErrors"
	      label="Nombre amig@ perdid@"
	      @input="$v.name.$touch()"
	      @blur="$v.name.$touch()"
	    ></v-text-field>
	    <v-checkbox
	      v-model="chip"
	      label="Tiene Chip?"
	      required
	      @input="$v.chip.$touch()"
	      @blur="$v.chip.$touch()"
	    ></v-checkbox>
	    <v-select
	      v-model="friendSpecies"
	      :items="species"
	      :error-messages="speciesErrors"
	      label="Especie"
	      required
	      @change="$v.friendSpecies.$touch()"
	      @blur="$v.friendSpecies.$touch()"
	    ></v-select>
	    <v-select
	      v-model="friendRace"
	      :items="races"
	      label="Raza"
	      @change="$v.friendRace.$touch()"
	      @blur="$v.friendRace.$touch()"
	    ></v-select>
	    <v-text-field
	      v-model="description"
	      label="Descripción adicional. Ejemplo marcas, manchas, cricatrices, etc."
	      @input="$v.description.$touch()"
	      @blur="$v.description.$touch()"
	    ></v-text-field>
	   	<div v-cloak @drop.prevent="addDropFile" @dragover.prevent>
		    <v-file-input
		    	v-model='files'jx
				accept="image/*"
				placeholder="Sube imagenes de tu amig@"
				prepend-icon="mdi-camera"
				label="Fotos"
				multiple
				counter
				chips
			></v-file-input>
		</div>
		<l-map
			ref="map"
			:zoom="zoom"
			:center="center"
			:options="mapOptions"
			:style="calculateHeight"
      @click="addMarker"
      @locationfound="onLocationFound"
      @locationerror="onLocationError"
		>
			<l-tile-layer
                :url="url"
                :attribution="attribution"
            />
      <l-marker v-if='marker' :lat-lng="marker"></l-marker>
      <l-control position="bottomleft" >
        <v-btn
        class="mx-2"
        fab
        dark
        small
        color="primary"
        @click="locateUser"
        >
          <v-icon>
            mdi-crosshairs-gps
          </v-icon>
        </v-btn>
      </l-control>

		</l-map>
	    <v-btn class="mr-4" @click="submit">Enviar</v-btn>
	    <v-btn @click="clear">Limpiar</v-btn>
	  </form>
</template>

<script>

import { validationMixin } from 'vuelidate'
import { required, maxLength, email } from 'vuelidate/lib/validators'
import { LMap, LTileLayer, LMarker, LControl } from 'vue2-leaflet'

export default {
  	name: 'LostPetForm',
  	components: {
    	LMap,
	    LTileLayer,
	    LMarker,
      LControl
  },
  mixins: [validationMixin],

  validations: {
    name: { required },
    friendSpecies: { required },
    friendRace: { },
    chip: {
      checked (val) {
        return val
      }
    }
  },

  data: () => ({
    name: '',
    friendRace: null,
    friendSpecies: null,
    species: [
      'Perro',
      'Gato'
    ],
    races: [
      'Mestiz@',
      'Otra'
    ],
    chip: false,
    description: '',
    files: [],
    rules: [
      value => !value || value.size < 2000000 || 'Avatar size should be less than 2 MB!'
    ],
    mapOptions: {
      zoomSnap: 0.5,
      zoomControl: true,
      scrollWheelZoom: true,
      dragging: true,
      doubleClickZoom: true,
      keyboard: true
    },
    center: L.latLng(-34.434, -70.587),
    zoom: 4,
    url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
    marker: null

  }),

  computed: {
    checkboxErrors () {
      const errors = []
      if (!this.$v.checkbox.$dirty) return errors
      !this.$v.checkbox.checked && errors.push('You must agree to continue!')
      return errors
    },
    speciesErrors () {
      const errors = []
      if (!this.$v.friendSpecies.$dirty) return errors
      !this.$v.friendSpecies.required && errors.push('Seleccionar especie')
      return errors
    },
    nameErrors () {
      const errors = []
      if (!this.$v.name.$dirty) return errors
      !this.$v.name.required && errors.push('Debes ingresar el nombre de tu amig@.')
      return errors
    },
    emailErrors () {
      const errors = []
      if (!this.$v.email.$dirty) return errors
      !this.$v.email.email && errors.push('Must be valid e-mail')
      !this.$v.email.required && errors.push('E-mail is required')
      return errors
    },
    calculateHeight () {
      const widhtWindow = window.innerWidth
      if (widhtWindow > 680) {
        return 'height: 300px; width:500px'
      }
      return 'height: 150px;width:400'
    }

  },

  methods: {
    submit () {
      this.$v.$touch()
      // tbd: action submit
    },
    clear () {
      this.$v.$reset()
      this.name = ''
      this.friendRace = null
      this.friendSpecies = null
      this.chip = false
    },
  	addDropFile (e) {
      this.files.push(...Array.from(e.dataTransfer.files))
    },
    addMarker(event) {
      console.log(event)
      this.marker = event.latlng
    },
    locateUser(event){
      console.log(event)
      this.$refs.map.mapObject.locate({setView: true, maxZoom: 16})

    },
    onLocationFound(location){
      console.log(location)
      this.marker = location.latlng
    },
    onLocationError(e) {
      alert(e.message);
    }

  },
  mounted () {

  }
}
</script>
