<template>
  <div>
    <v-container fluid>
      <div class="video-component">
        <v-btn fab dark large
          v-if="mediaStream"
          color="cyan"
          class="camera-bottom-button"
          @click="TakePhoto"
         >
          <v-icon dark>mdi-camera</v-icon>
        </v-btn>
        <v-btn fab dark medium color="green"
          v-if="videoDevices.length > 1 && mediaStream"
          class="camera-top-button"
          @click="switchCamera"
          :disabled="switchingCamera"
        >
          <v-icon dark>{{ cameraFlipIcon }}</v-icon>
        </v-btn>
        <video class="video" :class="facingMode === 'user' ? 'front' : ''" ref="video"/>
      </div>
    </v-container>
    <canvas style="display:none" ref="only_to_take_photo"/>
  </div>
</template>

<script>
export default {
  data () {
    return {
      photos: [],
      mediaStream: null,
      videoDevices: [],
      facingMode: 'environment',
      switchingCamera: false,
      // camera-flip from https://materialdesignicons.com/ TBD: add this cleaner
      cameraFlipIcon: 'M20 5H17L15 3H9L7 5H4C2.9 5 2 5.9 2 7V19C2 20.11 2.9 21 4 21H20C21.11 21 22 20.11 22 19V7C22 5.9 21.11 5 20 5M5 12H7.1C7.65 9.29 10.29 7.55 13 8.1C13.76 8.25 14.43 8.59 15 9L13.56 10.45C13.11 10.17 12.58 10 12 10C10.74 10 9.6 10.8 9.18 12H11L8 15L5 12M16.91 14C16.36 16.71 13.72 18.45 11 17.9C10.25 17.74 9.58 17.41 9 17L10.44 15.55C10.9 15.83 11.43 16 12 16C13.27 16 14.41 15.2 14.83 14H13L16 11L19 14H16.91Z'
    }
  },
  methods: {
    async StartRecording (facingMode) {
      this.facingMode = facingMode
      let video = this.$refs.video
      this.mediaStream = await navigator.mediaDevices.getUserMedia({
        video: { facingMode: facingMode }
      })
      video.srcObject = this.mediaStream
      return await video.play()
    },
    async TakePhoto () {
      let video = this.$refs.video
      let canvas = this.$refs.only_to_take_photo
      let width = video.videoWidth
      let height = video.videoHeight
      canvas.width = width
      canvas.height = height
      let ctx = canvas.getContext('2d')
      ctx.save()

      if (this.facingMode === 'user') {
        ctx.scale(-1, 1)
        ctx.drawImage(video, width * -1, 0, width, height)
      } else {
        ctx.drawImage(video, 0, 0)
      }

      ctx.restore()
      this.photos.push({
        src: canvas.toDataURL('image/png')
      })
    },
    async switchCamera () {
      this.switchingCamera = true
      const tracks = this.mediaStream.getVideoTracks()
      tracks.forEach(track => {
        track.stop()
      })
      await this.StartRecording(this.facingMode === 'environment' ? 'user' : 'environment')
      this.switchingCamera = false
    }
  },
  async mounted () {
    const devices = await navigator.mediaDevices.enumerateDevices()
    this.videoDevices = devices.filter(d => d.kind === 'videoinput')
    await this.StartRecording(this.videoDevices.length === 1 ? 'user' : 'environment')
  }
}
</script>

<style scoped>
.video-component {
  width: 100%;
  height: 100%;
}
.camera-top-button {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
}
.camera-bottom-button {
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
}
</style>
