<template>
  <v-content>
    <v-container fluid>

      <transition mode="out-in">
        <router-view :key="$route.fullPath"/>
      </transition>

    </v-container>
  </v-content>
</template>

<script>
export default {
  name: 'Content'
}
</script>
