<template>
  <v-app id="territorio_app">
    <v-navigation-drawer
      v-model="drawer"
      app
      clipped
    >
      <v-list
        dense
        v-for="(item, i) in menu"
        :key="i"
      >
        <router-link tag="div" class="clickme" :to="item.path">
          <v-list-item link>
            <v-list-item-action>
              <v-icon>{{item.icon}}</v-icon>
            </v-list-item-action>
            <v-list-item-content>
                {{item.name}}
            </v-list-item-content>
          </v-list-item>
        </router-link>
      </v-list>
      <v-divider></v-divider>

    </v-navigation-drawer>

    <v-app-bar
      app
      clipped-left
      dense
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title class="ml-0 pl-4">
        <router-link tag="div" class="clickme" to="/">
          <span>Territorio</span></router-link>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-row
      >
        <v-switch
          v-model="$vuetify.theme.dark"
          hide-details
          inset
          label="Tema oscuro"
        ></v-switch>
      </v-row>
    </v-app-bar>

    <Content/>

  </v-app>
</template>

<script>
import Content from './Content'
export default {
  name: 'Drawer',
  components: {
    Content
  },
  props: {
    source: String
  },
  data: () => ({
    drawer: null,
    search_input: '',
    menu: [
      {
        name: 'Inicio',
        icon: 'mdi-home',
        path: '/'
      },
      {
        name: 'Revisar listado',
        icon: 'mdi-map',
        path: '/mapa'
      },
      {
        name: 'Encontre mascota perdida',
        icon: 'mdi-bullhorn',
        path: '/encontrar'
      },
      {
        name: 'Perdí a mi mascota',
        icon: 'mdi-help-circle',
        path: '/mascotaperdida'
      }
    ]
  }),
  created () {
    // this.$vuetify.theme.dark = true
  },
  methods: {
    doSearch () {
      let queryp = {
        search: this.search_input
      }
      this.$router.replace({
        path: 'search',
        query: queryp
      }).catch(err => {
        // here vue router thows an error if the path is the same
      })
    }
  }
}
</script>

<style lang="css">

  div .clickme {  cursor: pointer; }

</style>
