<template>
	<v-pagination
	  v-model="page"
	  :length="lastPage"
	  :page="page"
	  :total-visible="totalVisible"
	></v-pagination>
</template>

<script>
import axios from 'axios'

export default {
  name: 'Pagination',
  props: {
    	name: String,
    lastPage: Number,
    query: Object
  },
  methods: {
    getAndChangePage (name, query, new_page) {
      	let newQuery = query
      	newQuery.page = new_page
      this.$store.dispatch('getPage', {
        name: name,
        queryparams: newQuery
      }).then(() => {
        this.$store.dispatch('changePage', {
          name: name,
          new_page: new_page
        })
      })
    }
  },
  data () {
    return {
      page: 1,
      totalVisible: 5
    }
  },
  watch: {
    // whenever page changes, this function will run
    page: function (newPage, oldPage) {
      this.getAndChangePage(this.name, this.query, newPage)
    }
  }
}
</script>
