<template>
  <div>
    <v-toolbar
      dense
      flat
    >
      <v-btn icon @click="refresh(name, query)">
        <v-icon>mdi-refresh</v-icon>
      </v-btn>
      <v-toolbar-title>{{this.title}}</v-toolbar-title>

      <v-spacer></v-spacer>
      <v-toolbar-items>
        <Pagination
          :name="name"
          :lastPage="lastPage"
          :query="query"
        />
      </v-toolbar-items>
    </v-toolbar>
    <div v-if='isLoading'>
      <v-list>
        <v-list-item
          v-for="index in 10"
          :key="index"
        >
          <v-card
              outlined
              width=100%
            >
              <v-skeleton-loader
                type='list-item-avatar-three-line'
              ></v-skeleton-loader>
            </v-card>
        </v-list-item>
      </v-list>
    </div>
    <div v-else>
      <v-list
        dense
        two-line
      >
        <v-list-item
          v-for="(item, index) in items"
          :key="item.uuid"
          @click="displayEmailDetails(item)"
        >
          <v-hover v-slot:default="{ hover }">
            <v-card outlined class="d-flex pa-2" width=100%
              :elevation="hover ? 24 : 2"
              :class="{ 'on-hover': hover }"
            >
              <v-list-item-content>
                <v-list-item-title >De: <b>{{item.sender}}</b></v-list-item-title>
                <v-list-item-subtitle class="text--primary">Para: <b>{{item.recipients}}</b></v-list-item-subtitle>
              </v-list-item-content>
              <v-list-item-content>
                {{item.subject}}
              </v-list-item-content>
              <p class="text-right">{{date(item.timestamp * 1000)}}</p>
            </v-card>
          </v-hover>
        </v-list-item>
      </v-list>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import Pagination from './Pagination.vue'
export default {
  name: 'PaginableList',
  props: {
    name: String,
    query: Object,
    title: String
  },
  components: {
    Pagination
  },
  methods: {
    init (name, query) {
      this.$store.dispatch('initStore', name).then(() => {
        this.$store.dispatch('getPage', {
          name: name,
          queryparams: query
        })
      }).then(() => {
        this.$store.dispatch('changePage', {
          name: name,
          current: 1
        })
      })
    },
    displayEmailDetails (email) {
      let route = '/' + this.name + '/' + email.uuid
      this.$router.push({ name: 'email', params: { body: email.body } })
    },
    date (timestamp) {
      let months = {
        0: 'ene.', 1: 'feb.', 2: 'mar.', 3: 'abr.', 4: 'may.', 5: 'jun.', 6: 'jul.', 7: 'ago.', 8: 'sep.', 9: 'oct.', 10: 'nov.', 11: 'dic.'
      }
      const isToday = (someDate) => {
        const today = new Date()
        return someDate.getDate() == today.getDate() &&
            someDate.getMonth() == today.getMonth() &&
            someDate.getFullYear() == today.getFullYear()
      }
      let new_date = new Date(timestamp)
      if (isToday(new_date)) {
        return new_date.getHours() + ':' + new_date.getMinutes()
      } else {
        let month = new_date.getMonth()
        return new_date.getDay() + ' ' + months[month]
      }
    },
    refresh (name, query) {
      let new_query = query
      this.init(name, query)
    }
  },
  mounted () {
    this.init(this.name, this.query)
  },
  computed: {
    items: function () {
      return this.$store.getters.getCurrentContent(this.name)
    },
    isLoading: function () {
      return this.$store.getters.getIsLoading(this.name)
    },
    lastPage: function () {
      return this.$store.getters.getLastPage(this.name)
    }
  }
}
</script>
