<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta property="og:image" content="<%= BASE_URL %>img/icons/paw.svg">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= BASE_URL %>img/icons/paw.svg" yype="image/svg+xml">
    <link rel="icon" type="image/svg+xml" sizes="32x32" href="<%= BASE_URL %>img/icons/paw.svg">
    <link rel="icon" type="image/svg+xml" sizes="16x16" href="<%= BASE_URL %>img/icons/paw.svg">
    <link rel="mask-icon" href="<%= BASE_URL %>img/icons/paw.svg" color="#27a83b">
    <link rel="manifest" href="<%= BASE_URL %>manifest.json">

    <title>territorio</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but territorio doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
