<template>
  <div>
    <v-toolbar
      dense
      flat
    >
      <v-btn icon @click="goBack()">
        <v-icon>mdi-arrow-left</v-icon>
      </v-btn>
    </v-toolbar>
    <v-card
      flat
    >
      <v-list-item three-line>
        <v-list-item-content>
          <div class="overline mb-4">{{emilio.date}}</div>
          <v-list-item-title class="headline mb-1">{{emilio.subject}}</v-list-item-title>
          <v-list-item-subtitle>De: {{emilio.from && emilio.from.text}}</v-list-item-subtitle>
          <v-list-item-subtitle>Para: {{emilio.to && emilio.to.text}}</v-list-item-subtitle>
        </v-list-item-content>

      </v-list-item>
      <v-list-item-content>
        <div v-html="emilio.html"></div>
      </v-list-item-content>
      <v-card-actions>
        <v-btn >Responder</v-btn>
        <v-btn >Reenviar</v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
import setimmediate from 'setimmediate'
const simpleParser = require('mailparser').simpleParser
export default {
  name: 'email',
  data () {
    return {
      emilio: {},
      totalVisible: 5
    }
  },
  methods: {
    parseBody () {
      let result = {}
      simpleParser(this.$route.params.body, {}, (err, parsed) => {
        this.emilio = parsed
      })
    },
    goBack () {
      window.history.length > 1 ? this.$router.go(-1) : this.$router.push('/')
    }
  },
  mounted () {
    this.parseBody()
  }
}
</script>
