<template>
  <div>
    <v-card
      outlined
      hover
      @click="$router.push('/mascotaperdida')"
    >
      <v-list-item three-line>
        <v-list-item-content>
          <v-list-item-title class="headline mb-1">Mascota perdida</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-card>
    <v-card
      outlined
      hover
      @click="$router.push('/encontrada')"
    >
      <v-list-item three-line>
        <v-list-item-content>
          <v-list-item-title class="headline mb-1">Encontre a una mascota</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-card>
    <v-card
      outlined
      hover
      @click="$router.push('/listado')"
    >
      <v-list-item three-line>
        <v-list-item-content>
          <v-list-item-title class="headline mb-1">Revisar listado</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-card>
  </div>
</template>

<script>

export default {
  name: 'home'
}
</script>
