<template>
  <LostPetForm/>
</template>

<script>
import LostPetForm from '../components/form/LostPetForm.vue'

export default {
  name: 'MascotaPerdida',
  components: {
    LostPetForm
  }
}
</script>
