<template>
  <PaginableList
    name='search'
    :query='query'
    title="Buscar"
  />
</template>

<script>
import PaginableList from '../components/core/PaginableList.vue'

export default {
  name: 'search',
  components: {
    PaginableList
  },
  computed: {
    query: function () {
      let newQuery = {
        page_size: 25,
        search: this.$route.query.search
      }
      return newQuery
    }
  }
}
</script>
