<template>
  <PaginableList
    name='sent'
    :query='query'
    title='Enviados'
  />
</template>

<script>
import PaginableList from '../components/core/PaginableList.vue'

export default {
  name: 'sent',
  components: {
    PaginableList
  },
  data: () => ({
    query: {
      page_size: 25,
      event: 'delivered'
    }
  })
}
</script>
