<template>
  <div class="wrapper">
    <video class="video" :class="facingMode === 'user' ? 'front' : ''" ref="video"/>
    <canvas style="display:none" ref="canva"/>
    <button
      v-if="videoDevices.length > 1"
      class="button is-rounded is-outlined switch-button"
      @click="switchCamera"
      :disabled="switchingCamera"
    >
      <b-icon pack="fas" icon="sync-alt"/>
    </button>
    <div class="photo-button-container">
      <button class="button photo-button" @click="TakePhoto">
        <b-icon pack="fas" icon="camera"/>
      </button>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      photos: [],
      mediaStream: null,
      videoDevices: [],
      facingMode: 'environment',
      counter: 0,
      switchingCamera: false
    }
  },
  methods: {
    async StartRecording (facingMode) {
      this.facingMode = facingMode
      let video = this.$refs.video
      this.mediaStream = await navigator.mediaDevices.getUserMedia({
        video: { facingMode: facingMode }
      })
      video.srcObject = this.mediaStream
      return await video.play()
    },
    async TakePhoto () {
      let video = this.$refs.video
      let canva = this.$refs.canva
      let width = video.videoWidth
      let height = video.videoHeight
      canva.width = width
      canva.height = height
      let ctx = canva.getContext('2d')
      ctx.save()

      if (this.facingMode === 'user') {
        ctx.scale(-1, 1)
        ctx.drawImage(video, width * -1, 0, width, height)
      } else {
        ctx.drawImage(video, 0, 0)
      }

      ctx.restore()

      this.photos.push({
        id: this.counter++,
        src: canva.toDataURL('image/png')
      })
    },
    async switchCamera () {
      this.switchingCamera = true
      const tracks = this.mediaStream.getVideoTracks()
      tracks.forEach(track => {
        track.stop()
      })
      await this.StartRecording(this.facingMode === 'environment' ? 'user' : 'environment')
      this.switchingCamera = false
    }
  },
  async mounted () {
    const devices = await navigator.mediaDevices.enumerateDevices()
    this.videoDevices = devices.filter(d => d.kind === 'videoinput')
    await this.StartRecording(this.videoDevices.length === 1 ? 'user' : 'environment')
  }
}
</script>
